.morePC {
    position: relative;
    z-index: 1;
    width: 100vw;
    font-size: 2em;
    overflow: hidden;
    padding-bottom: 28px;
}

.moreMob {
    position: relative;
    z-index: 1;
    width: 100vw;
    font-size: 2em;
    overflow: hidden;
    padding-bottom: 100px;
}

/* Social */
.social-holder {
    font-size: 2.5em;
    height: 35px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    border-bottom: 1px solid #abc;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    color: var(--white);
    height: 40px;
    overflow: hidden;
}

    .social div {
        position: relative;
        flex: 0 0 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .social div svg {
            position: absolute;
            bottom: -40px;
            transition-duration: .5s;
        }

            .social div svg:hover {
                bottom: -25px;
            }
