.Sponsors {
    height: 100%;
    background-color:var(--white);
    position:relative;
}
    .Sponsors h1 {
        margin: 0;
        padding: 30px 0 15px 0;
        font-family: 'Barlow', sans-serif !important;
        color: var(--black);
        text-align: center;
        letter-spacing: 3px;
        font-size: 1.2em;
    }

.SponsorsContainer {
    width:100%;
    margin: 0 50px;
    height: calc(50% - 100px);
    display: flex;
    flex-direction: row;
    gap:50px;
}
.SponsorHolder {
    height: calc(60% - 40px);
    flex: 0 0 calc(25vw - 92.5px);
    text-align: center;
    margin: auto;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 6px -12px inset, rgb(0 0 0 / 30%) 0px 6px 30px -18px inset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: 0;
    transition-duration: .5s;
    padding: 40px;
}
    .SponsorHolder:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
        .SponsorHolder:hover object {
            -webkit-filter: drop-shadow( 6px 6px 3px var(--white_shade));
            filter: drop-shadow( 6px 6px 3px rgb(50 50 93 / 25%));
        }
    .SponsorHolder object{
        transition-duration: .5s;
        max-width: 100%;
        max-height:100%
    }