.SupportHolder {
    height: 70%;
    flex: 1 1 auto;
    text-align: center;
    margin: auto;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 6px -12px inset, rgb(0 0 0 / 30%) 0px 6px 30px -18px inset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: 0;
    transition-duration: .5s;
}

    .SupportersHolder:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0,0,0,0.15), 0px 24px 2px rgba(0,0,0,0.1), 0px 34px 30px rgba(0,0,0,0.1);
    }

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Make the images invisible by default */
.Containers {
    display: none;
}

/* forward & Back buttons */
.Back, .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}

/* Place the "forward button" to the right */
.forward {
    right: 0;
    border-radius: 4px 0 0 4px;
}

    /*when the user hovers,add a black background with some little opacity */
    .Back:hover, .forward:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption Info */
.Info {
    color: #e3e3e3;
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

/* Worknumbering (1/8 etc) */
.MessageInfo {
    color: #f2f2f3;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
}

/* The circles or bullets and indicators */
.dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #acc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

    .enable, .dots:hover {
        background-color: #717161;
    }

/* Faint animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 2
    }
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 2
    }
}
