.TeamHolder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
    .TeamHolder::-webkit-scrollbar {
        display: none;
        -webkit-appearance: none; /* Chrome, Safari and Opera */
}

.TeamContentPC {
    height: calc(60% - 40px);
    flex: 0 0 440px ;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: 0;
    transition-duration: .5s;
}
.TeamContentPC img{
        max-width: 100%;
        max-height:100%
    }
.TeamContentMob {
    height: calc(60% - 40px);
    flex: 0 0 160px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: 0;
    transition-duration: .5s;
}

    .TeamContentMob img {
        max-width: 100%;
        max-height: 100%
    }

.TeamContentTitlePC {
    height: calc(calc(60% - 40px) / 2);
    flex: 0 0 440px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: 0;
    transition-duration: .5s;
}

    .TeamContentTitlePC img {
        max-width: 100%;
        max-height: 100%
    }

.TeamContentTitleMob {
    height: calc(calc(60% - 40px) / 2);
    flex: 0 0 160px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: 0;
    transition-duration: .5s;
}

    .TeamContentTitleMob img {
        max-width: 100%;
        max-height: 100%
    }