
.FAQ-holder {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: calc(100% - 50px);
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scroll-snap-type: both mandatory;

}
.FAQ-holder::-webkit-scrollbar{
    display: none;
    -webkit-appearance: none;
}

.FAQ-box-PC {
    padding: 5px 20px;
    margin: 10px 5px;
    color: var(--black);
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: var(--black) 5px 5px;
    scroll-snap-align: start;
    transition: .5s;
}

.FAQ-quest {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: auto
}

    .FAQ-quest:hover {
        cursor: pointer;
    }

.FAQ-cont-PC {
    color: var(--white);
    padding: 5px 20px;
    margin: 10px 5px;
    border-radius: 5px;
    background-color: var(--black);
    box-shadow: var(--gray) 5px 5px;
    scroll-snap-align: start;
    max-height: 1000px;
    flex: 1 1 auto;
    opacity: 1;
    transition: .5s;
}
.FAQ-cont-hidden {
    padding: 0 20px !important;
    margin: 0 5px !important;
    flex: 1 1 0 !important;
    max-height: 0 !important;
    opacity: 0 !important;
    transition: padding .5s, margin .5s, flex .5s, opacity .5s, max-height .5s;
}
.FAQ-arrow{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 25px;
}

