.pac-fitinha {
    position: relative;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pac-fitinha-in::after {
    content: '';
    opacity: 0.8;
    background-color: var(--white);
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, transparent, black, transparent);
    z-index: -1;
}
.pac-fitinha-in {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pac-fitinha-holderPC {

}

.pac-fitinha-holderMob {
    height:inherit;
    display:flex;
    align-items:center;

}