.content {
    background-color: #222324;
}

#section1 {
    background-color: var(--color1);
    box-shadow: 5px 5px var(--color1_shade);
}

#section2 {
    background-color: var(--color2);
    box-shadow: 5px 5px var(--color2_shade);
}

#section3 {
    background-color: var(--color3);
    box-shadow: 5px 5px var(--color3_shade);
}

#section4 {
    background-color: var(--color4);
    box-shadow: 5px 5px var(--color4_shade);
}

#section5 {
    background-color: var(--color5_clear);
    box-shadow: 5px 5px var(--color5);
}

.Ativ-sectionPC {
    margin: 20px 10vw;
    padding: 10px;
    width: calc(100% - 20vw);
    border-radius: 5px;
    color: #222324;
    transition: 2s;
    overflow: hidden;
    font-size: 1.2em;
}
.Ativ-sectionMob {
    max-height: 2.5em;
    margin: 20px 10vw;
    padding: 10px;
    width: calc(100% - 20vw);
    border-radius: 5px;
    color: #222324;
    transition: max-height .5s;
    overflow: scroll;
    font-size: 1.2em;
}

.closed-headPC {
    transition: font-size linear .2s;
    font-size: 1em !important;
    max-height: 2.5em;
}
.closed-headPC:hover { font-size: 1.2em !important; }

.closed-contPC{ max-height: 0; }

.Ativ-headPC {
    height: 2.5em;
    display: flex;
    cursor: pointer;
    transition: max-height linear .5s;
}
    .Ativ-headPC h1 {
        margin: 0 10px;
        flex: 1 1 0;
        white-space: nowrap;
        text-align: center;
        transition: flex .5s;
    }
    .Ativ-headPC div{ transition: flex .5s; }

.Ativ-iconPC { 
    margin: 0 10px; 
    flex: 1 1 0;
}
.Ativ-iconPC h1{ text-align: right; }

.Ativ-contPC{
    border-top: 1px solid var(--black);
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.Ativ-rowPC{
    margin: 5px;
    display: flex;
    flex-direction: row;
    gap:5px;
}